<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Result of your hand:</h1>

    <%= hand.cards.each do |c| p c end %>
    
    <a href="/">Back</a>
  </body>
</html>
